/* variables */
:root {
  --primary-color: #92cccd;
  --secondary-color: #31343d;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 25px;
}

.section-title {
  flex: 1;
  text-align: right;
  padding: 5px;
  border-right: 3px solid var(--secondary-color);
}

.section-content {
  flex: 7;
  padding: 0 100px 0 25px;
}

/* header */
header {
  padding: 25px 0;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  background-color: var(--primary-color);
  padding: 10px 0px 10px 25px;
}

header h1 a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px 10px 10px 50px;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 75px 0 0;
}

.navigation ul li {
  padding: 10px 10px;
  font-weight: lighter;
  font-size: 1.25vw;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 10px 5px 10px;
  border-bottom: 5px solid var(--primary-color);
  align-items: center;
}

/* about me */

/* work */

/* contact me */

/* resume */
